<!-- user login page -->

{% extends 'shopbase.html' %}
{% load static %}
{% block body %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb"  style="height: 233px;">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end" style="padding: 10px 0 30px 0;">
				<div class="col-first">
					<h1>Login/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Login</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap " style="padding: 32px 0 56px 0;">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="registration.html">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						{% for message in messages %}
                        <p class="alert alert-{{message.tags}}" >{{message}}</p>
                    {% endfor %}
                    <script>
                        setTimeout(() => {
                            $(".alert").alert("close");
                        }, 3000)
                    </script>
                    <br>
						<h3>Forgot Password</h3>
                    <br><br>
                        <form class="row login_form " method="post" action="{% url 'send_otp_email' %}">
                            {% csrf_token %}
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="email_id" name="email" placeholder="Enter Your Registere Email Address">
                                <br>
                                <label for="" style="color: grey;">We will send a conformation message to your email</label>
                            </div>
                            <br>
                            <div class="col-md-12 form-group">
                            
                                <button type="submit"  class="genric-btn primary">Submit</button>
                            </div>

                        </form>
							
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->


{% endblock body %}

