<!-- user login page -->
{% extends 'shopbase.html' %}
{% load static %}
{% block body %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb" style="height: 233px;">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end" style="padding: 10px 0 30px 0;">
				<div class="col-first">
					<h1>OTP Verification</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">OTP Verifivation</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="registration.html">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Enter OTP </h3>



						<form class="row login_form" action="{% url 'veryify_email_otp' %}" method="post" id="contactForm" novalidate="novalidate">
                            {% csrf_token %}
							<div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="name" name="otp" placeholder="enter the otp..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'otp'">
							</div>
                            <div class="col-md-12 form-group">
								<div class="creat_account">
								</div>
							</div>
                            
							<div class="col-md-12 form-group">
								<button type="submit" value="Verify" class="primary-btn">Submit</button>
							</div>
						</form>


                        {% for message in messages %}
                            <p class="alert alert-{{message.tags}}" >{{message}}</p>
                        {% endfor %}
                        <div class="mt-4">
                            <div class="d-flex justify-content-center links">
                                 Resend <a href="{% url 'resend_otp' %}" class="ml-2">OTP</a>
                            </div>
                            <p>Time remaining: <span id="countdown"></span></p>
                            
                            {% block scripts %}
                            <script src="{% static 'js/countdown.js' %}"></script>
                            {% endblock %}
                        </div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->


{% endblock body %}
