{% extends 'shopbase.html' %}
{% load static %}

{% block head %}
    <style>
        .gradient-custom {
        /* fallback for old browsers */
        background: #f6d365;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
        }
    </style>
{% endblock head %}

{% block body %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb" style="height: 233px;">
    <div class="container">

      <div class=" ">
          
        </div>


        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end" style="padding: 10px 0 30px 0;">

          <div class="col-first" >
            <h1>User Profile</h1>
            <nav class="d-flex align-items-center">
                <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                <a href="category.html">User</a>
            </nav>
        </div>

            <div class="col-first" >
                <h1>User Profile</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">User</a>
                </nav>
            </div>
        </div>

    </div>
</section>
<!-- End Banner Area -->
<section style="background-color: #eee;">
    <div class="container py-5">
  
      <div class="row">

        <div class="col-lg-4">
          <div class="card mb-12">
            <div class="card-body text-center">
          <form action="{% url 'edit_user_profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <div>
                {% if user.image %}
                <img id="user-avatar" src="{{ user.image.url }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px; height: 150px;">
                {% else %}
                    <img id="user-avatar" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px; ">
                {% endif %}
                {% if edit %}
                <div class="image-upload">
                  <label for="file-input" class="btn" style="border-radius: 50%; width: 50px; height: 50px; background-color: #fe6d00; color: #fff; display: flex; justify-content: center; align-items: center; cursor: pointer;">
                    add+
                  </label>
                  <input id="file-input" name="image" type="file" style="display: none;">
                </div>
            {% endif %}
              </div>
             
              <h5 class="my-3">{{ user.username }}</h5>
              <p class="text-muted mb-1">Full Stack Developer</p>
              <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
            </div>

            <div class="col-lg-12">
              <div class="col-sm-12">
                <a class="btn btn-primary btn-lg" href="" style="width: inherit; margin-bottom: 10px; background: rgb(222, 44, 4);
                background: linear-gradient(90deg, rgba(213,22,22,1) 0%, rgba(253,149,29,1) 43%, rgba(232,134,58,1) 100%); border-color: #fe6d00;">Profile</a>
              </div>
              <div class="col-sm-12">
                <a class="btn btn-primary btn-lg" href="" style="width: inherit; margin-bottom: 10px; background: rgb(213,22,22);
                background: linear-gradient(90deg, rgba(213,22,22,1) 0%, rgba(253,149,29,1) 43%, rgba(232,134,58,1) 100%); border-color: #fe6d00;">Orders</a>
              </div>
              <div class="col-sm-12">
                <a class="btn btn-primary btn-lg" href="{% url 'customer_adress_view' %}" style="width: inherit; margin-bottom: 10px; background: rgb(213,22,22);
                background: linear-gradient(90deg, rgba(213,22,22,1) 0%, rgba(253,149,29,1) 43%, rgba(232,134,58,1) 100%); border-color: #fe6d00;">Address</a>
              </div>
             
                <div class="col-sm-12">
                  <a class="btn btn-primary btn-lg" href="" style="width: inherit; margin-bottom: 10px; background: rgb(213,22,22);
                  background: linear-gradient(90deg, rgba(213,22,22,1) 0%, rgba(253,149,29,1) 43%, rgba(232,134,58,1) 100%); border-color: #fe6d00;">Payments</a>
                </div>
                <div class="col-sm-12">
                  <a class="btn btn-primary btn-lg" href="" style="width: inherit; margin-bottom: 10px; background: rgb(213,22,22);
                  background: linear-gradient(90deg, rgba(213,22,22,1) 0%, rgba(253,149,29,1) 43%, rgba(232,134,58,1) 100%); border-color: #fe6d00;">Change Password</a>
                </div>
              
          </div>

          </div>
        </div>
        
{% block container %}

{% endblock container %}
  {% if edit %}
<script>
    document.getElementById('file-input').addEventListener('change', function (e) {
        var file = e.target.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (event) {
                document.getElementById('user-avatar').src = event.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
</script>
{% endif %}

{% endblock body %}